nav {
  margin-top: 100px;
  margin-bottom: 226px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 799px) {
  nav {
    margin-top: 0;
    margin-bottom: 25%;
    padding-top: 1.3%;
    padding-bottom: 2%;
    background: #ffffff;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  nav {
    margin-bottom: 188px;
    -ms-grid-columns: 20% 80%;
        grid-template-columns: 20% 80%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 16px;
  }
}

nav a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #6a707b;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  nav a {
    font-size: 14px;
    line-height: 24px;
  }
}

.logo-group {
  place-items: center;
  margin-left: 100px;
  margin-right: 113px;
  left: 0;
}

@media screen and (max-width: 799px) {
  .logo-group {
    margin-left: 0;
  }
}

@media screen and (max-width: 560px) {
  .logo-group {
    margin-right: 60px;
  }
}

@media screen and (max-width: 480px) {
  .logo-group {
    margin-right: 0;
  }
}

.logo-group a {
  font-weight: bold;
  color: #131821;
}

.logo-group .logo {
  margin-right: 15px;
  margin-bottom: -7%;
  height: auto;
  max-width: 25px;
}

@media screen and (max-width: 480px) {
  .logo-group .logo {
    margin-right: 0;
    margin-bottom: 0;
    float: left;
  }
}

.logo-group .logo-text {
  width: 78px;
  margin-bottom: -5px;
  margin-left: -4px;
}

@media screen and (max-width: 480px) {
  .logo-group .logo-text {
    display: none;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
  margin-top: 5%;
}

@media screen and (max-width: 799px) {
  .menu {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    margin-top: -6px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 20px;
  }
}

.menu a {
  margin-right: 29px;
}

@media screen and (max-width: 560px) {
  .menu a {
    margin-right: 21px;
  }
}

.subscribe {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  margin-bottom: 23%;
}

@media screen and (max-width: 799px) {
  .subscribe {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f5fa));
    background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
    max-width: 100%;
    height: auto;
    margin-right: 6%;
    margin-left: 6%;
    padding: 8% 5%;
  }
}

@media screen and (max-width: 480px) {
  .subscribe {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 187px;
    padding: 25px 20px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #131821;
}

@media screen and (max-width: 480px) {
  .title {
    margin-bottom: 9px;
    font-size: 24px;
    line-height: 34px;
  }
}

@media screen and (max-width: 340px) {
  .title {
    font-size: 22px;
  }
}

.paragraph,
.email-input,
.checkbox-container,
#errorMessage {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

@media screen and (max-width: 370px) {
  .paragraph,
  .email-input,
  .checkbox-container,
  #errorMessage {
    font-size: 12px;
  }
}

#errorMessage {
  display: none;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 7px;
}

.paragraph {
  margin-bottom: 55px;
  margin-top: 0;
  line-height: 28px;
  color: #6a707b;
}

@media screen and (max-width: 480px) {
  .paragraph {
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 26px;
  }
}

.input-container {
  position: relative;
  margin-left: -40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

@media screen and (max-width: 799px) {
  .input-container {
    margin-left: 0;
    -ms-grid-columns: 100% 0;
        grid-template-columns: 100% 0;
  }
}

.arrow {
  width: 64px;
  margin-left: -65px;
  text-align: left;
  padding: 0;
  border: none;
  background: transparent;
  color: #131821;
  opacity: 0.3;
  z-index: 99;
  cursor: pointer;
}

.arrow:hover {
  color: #0040b8;
  opacity: 1;
}

.arrow:disabled {
  cursor: auto;
}

.arrow:disabled:hover {
  color: #131821;
  opacity: 0.3;
}

@media screen and (max-width: 480px) {
  .arrow {
    margin-left: -39px;
    width: 39px;
  }
}

.email-input {
  min-width: 663px;
  padding: 23px 40px;
  background: #ffffff;
  border: 1px solid #e3e3e4;
  border-left: 4px solid #4066a5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #6a707b;
  line-height: 24px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.email-input:hover {
  border: 1px solid #4066a5;
  border-left: 4px solid #4066a5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
          box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}

.email-input:hover + .arrow {
  color: #0040b8;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.email-input:focus {
  -webkit-box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
          box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 799px) {
  .email-input {
    min-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .email-input {
    padding: 18px 15px;
  }
}

.checkbox-container {
  line-height: 28px;
  color: #6a707b;
  margin-bottom: 56px;
  margin-top: 12px;
}

@media screen and (max-width: 480px) {
  .checkbox-container {
    line-height: 24px;
    margin-top: 13px;
    margin-bottom: 29px;
  }
}

.checkbox-container input {
  cursor: pointer;
  font-size: 14px;
  visibility: hidden;
  margin-right: 15px;
  margin-top: -3px;
  margin-left: 0;
}

.checkbox-container input:after {
  margin-top: -3px;
  content: " ";
  background-color: white;
  display: inline-block;
  color: #ffffff;
  width: 14px;
  height: 19px;
  visibility: visible;
  border: 1px solid #fff;
  padding: 0 2px 1px 4px;
  border-radius: 3px;
  border: 1px solid #e3e3e4;
}

.checkbox-container input:checked:after {
  content: "\2714";
  font-weight: lighter;
  background-color: #4066a5;
}

.checkbox-container .important {
  text-decoration: underline;
  color: #131821;
}

.checkbox-container .important:hover {
  color: #4066a5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.checkbox-container .important:active {
  color: #233759;
}

hr {
  padding: 0;
  width: 400px;
  border: none;
  border-top: 1px solid #e3e3e4;
}

@media screen and (max-width: 799px) {
  hr {
    width: 100%;
  }
}

#success-logo {
  margin-bottom: 22px;
  display: none;
}

.logo-container {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 16px;
  max-width: 244px;
}

@media screen and (max-width: 480px) {
  .logo-container {
    margin-top: 20px;
    margin-bottom: 0;
    grid-gap: 10px;
  }
}

.fa,
.fab {
  padding-top: 15px;
  width: 46px;
  height: 31px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid #e2e3e4;
  background: transparent;
  color: #131821;
  opacity: 0.3;
}

.fa:hover, .fa:active,
.fab:hover,
.fab:active {
  -webkit-box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
          box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  opacity: 1;
}

.fa-facebook:hover {
  background: #4267b2;
  color: white;
}

.fa-facebook:active {
  background: #2f4a80;
}

.fa-instagram:hover {
  background: #c13584;
  color: white;
}

.fa-instagram:active {
  background: #8f2762;
}

.fa-twitter:hover {
  background: #1da1f2;
  color: white;
}

.fa-twitter:active {
  background: #177fbf;
}

.fa-youtube:hover {
  background: #ff0000;
  color: white;
}

.fa-youtube:active {
  background: #cc0000;
}

*,
*:focus,
*:hover {
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  display: -ms-grid;
  display: grid;
  margin: 0;
  -ms-grid-columns: 680px auto;
      grid-template-columns: 680px auto;
  grid-gap: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f5fa));
  background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
  overflow-x: hidden;
}

@media screen and (max-width: 799px) {
  body {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (max-width: 799px) {
  .first-column {
    background-image: url(../img/image_summer.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (max-width: 480px) {
  .first-column {
    background-position: -281px center;
  }
}

.second-column {
  background-image: url(../img/image_summer.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 799px) {
  .second-column {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */