@import "nav";
@import "form";
@import "social-media";
@import "functions";

*,
*:focus,
*:hover {
  outline: none;
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 680px auto;
  grid-gap: 0;
  background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
  @media screen and (max-width: 799px) {
    grid-template-columns: auto;
  }
}
.first-column {
  @media screen and (max-width: 799px) {
    min-height: 100vh;
    background: url(../img/image_summer.png) no-repeat center center;
    background-size: cover;
  }
  @media screen and (max-width: 480px) {
    background-position: -281px center;
  }
}

//SECOND COLUMN
.second-column {
  min-height: 100vh;
  background: url(../img/image_summer.png) no-repeat;
  background-size: cover;
  @media screen and (max-width: 799px) {
    display: none;
  }
}
